@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  	font-family: "Plus Jakarta Sans", sans-serif ;
  	font-display: swap;
	unicode-range: U+000-5FF;
  	src:local("Plus Jakarta Sans"), 
      url('./Fonts/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
} 

* {
  margin: 0;
	padding: 0;
	box-sizing: border-box;
  	font-family: "Plus Jakarta Sans", sans-serif;
}


body::-webkit-scrollbar {
	width: 0.65rem;
}

body::-webkit-scrollbar-track {
	background-color: none;
}

body::-webkit-scrollbar-thumb {
	background: linear-gradient(to bottom, #A8A2F6, rgb(141, 76, 221));
	border-radius: 30px;
	padding: 10px;
	transition: all 0.5s ease-in-out;
}

body::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(to top, #A8A2F6, rgb(141, 76, 221));
	cursor: pointer;
	width: 4rem;
}
